<div class="card"  [class.loading]="loading">
    <div class="topics">
        <div class="topic"><a target="_blank" href="https://github.com/topics/topic1">topic1</a></div>
        <div class="topic"><a target="_blank" href="https://github.com/topics/topic2">topic2</a></div>
    </div>
    <div class="head">
        <div class="repo-head">
            <h1>Sample Repository</h1>
            <p>Updated 1 hour ago</p>
        </div>
        <h2 class="view-code"><a target="_blank" href="https://github.com/sampleuser/SampleRepository">view code</a></h2>
    </div> 
    <h2 class="desc">This is a sample repository.</h2>
    <div class="langs">
        <div class="lang">JavaScript</div>
        <div class="lang">HTML</div>
        <div class="lang">CSS</div>
    </div>
</div>