<div class="landing">
    <div class="search-wrapper">
        <div class="logo">
            <img width="100" src="../media/bg.jpeg">
            <h1>GITSEARCH</h1>
        </div>
        <div class="description">
            <h1>Discover Public Repositories with Ease! Enter a Username to Start Exploring</h1>
        </div>
        <div class="search-box">
            <input type="text" id="home_search" placeholder="Github Username">
            <button onclick="initsearch()" type="submit">G0</button>
        </div>
    </div>
</div>