<div style="color: rgb(255, 255, 255);" class="profile"  [class.loading]="loading">
    <div class="profile-pic-wrapper">
        <div class="profile-pic-group">
            <div class="profile-img">
                <div class="load-wrapper"></div>
                <img src="../../../media/bg.jpeg" width="200" style="border-radius: 50%;"
                alt="profile picture">
                <a style="color: white;" href="index.html">🔗 github</a>
            </div>
        
            <div class="profile-details">
                <h2 class="username">User</h2>
                <h2 class="fullname">john doe</h2>
                <h4 class="repos">No Public Repositories Found</h4> 
                <h4 class="location"></h4> 
            </div>
        </div> 
    </div>
</div>